.container{
    border:2px solid white;
    font-family: "Montserrat";
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width:50%;
}
body{
    background-color:#0a0e31;
}
.form-control{
    background: rgba(255,255,255,0.08);
    height:55px;
    border:1px solid black;
    color:white;
}
.form-control:focus{
    background-color: rgba(255,255,255,0.08);
    color:white;
}
label,h1{
    color:rgba(255,255,255,0.8);
}
h1{
    font-weight: 800;
}
.eg{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width:200px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color:white;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
}
